<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <p>
        Hi! My name is Rebecca Hanks and I am majoring in Web Design and Development.
        I have been married to my husband Konnor for over 2 years and we have a 1 year old girl.
    </p>

    <h3>In terms of hobbies, I love to:</h3>
    <ul>
        <li>Read</li>
        <li>Hike</li>
        <li>Ski</li>
        <li>Play instruments</li>
        <li>Bake</li>
        <li>Workout</li>
    </ul>

    <h3>Here is a picture of me!</h3>
    <img class="aboutImage" src="/css/images/739D5080-BC85-4031-88F5-DC35275C3746_4_5005_c.jpeg" alt="Rebecca">

</main>

<%- include('partials/footer') %>